{% extends "layout.html" %}

{% block content %}
<div class="col-md-10 pad-right">
    <div class="card">
        <div class="card-header">
            个人资料
        </div>
        <div class="card-body">
            {% set u = data['user'] %}
            <form id="form-data">
                <div class="form-group">
                    <label>被投诉人昵称</label>
                    <input class="form-control"
                           name="phone"
                           placeholder="请输入被投诉人昵称！"
                           type="text">
                    <p class="text-danger" id="error_phone"></p>
                </div>
                <div class="form-group">
                    <label>投诉类型</label>
                    <br>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               id="input_role1"
                               name="role"
                               value="1"
                               class="custom-control-input" {% if u.role== 1 %} checked{% endif %}>
                        <label class="custom-control-label" for="input_role1">发布色情/违法信息</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               id="input_role2"
                               name="role"
                               value="2"
                               class="custom-control-input" {% if u.role== 2 %} checked{% endif %}>
                        <label class="custom-control-label" for="input_role2">存在欺诈骗钱行为</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               id="input_role2"
                               name="role"
                               value="2"
                               class="custom-control-input" {% if u.role== 2 %} checked{% endif %}>
                        <label class="custom-control-label" for="input_role2">冒充他人</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio"
                               id="input_role2"
                               name="role"
                               value="2"
                               class="custom-control-input" {% if u.role== 2 %} checked{% endif %}>
                        <label class="custom-control-label" for="input_role2">其他违规行为</label>
                    </div>
                </div>
                <div class="form-group">
                    <label>投诉理由</label>
                    <textarea class="form-control"
                              placeholder="请输入投诉理由！"
                              rows="5"
                              name="info"
                    ></textarea>
                    <p class="text-danger" id="error_info"></p>
                </div>
                <div class="form-group">
                    <label for="input_face">上传聊天信息和截图等证据</label>
                    <input type="file" class="form-control-file" id="file_face">
                    <p class="text-danger" id="error_face"></p>
                </div>
                <div class="form-group">
                    <a class="btn btn-danger" href="javascript:void(0)" id="btn-sub">提交</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
<script src="{{ url_for('static', filename='js/request.js') }}"></script>
<script>
    $(document).ready(function () {
        upload('face', 200, 200, '/upload/');
        request('/userprofile/', '/logout/', ['name', 'email', 'phone', 'sex', 'xingzuo', 'info', 'face', 'role'], '修改成功！');
    });
</script>
{% endblock %}