{%import 'page.html' as pg%}
{% extends "layout.html" %}
{% block content %}
<div class="col-md-10 pad-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">课程主页</li>
        </ol>
    </nav>
    {% set v = data['course'] %}
    <div class="card">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="/static/uploads/{{ v.face }}" class="card-img" alt="{{ v.title }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ v.title }}</h5>
                    <p class="card-text">价格：1 元</p>
                    <p class="card-text">参加人数：1 人</p>
                </div>
            </div>
        </div>
        <div>
            <div class="card-footer">
                <p class="card-text">{{ v.content }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
<script>
    $(document).ready(function () {
        
    });
</script>
{% endblock %}