<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--指定网页支持响应式：电脑和手机自适应-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ data['title'] }}</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.slim.min.js"></script>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bw/dist/sketchy/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/codemirror.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.58.1/theme/monokai.min.css" />
    <script src="https://unpkg.com/staticman/dist/staticman.js"></script>
    <script type="text/javascript" src="/static/js/jswebrtc.min.js"></script>
    <style>
        #mynavbar {
            background: rgba(32, 92, 152, 0.95);
            position: fixed;
            width: 100%;
            height: 65px;
            z-index: 10;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
        }
        /* 设置 video 元素的样式 */
        #main {
            padding-top: 70px;
            margin: 0 auto;
            position: relative;
        }
        .jswebrtc {
            height: 140px;
        }
    </style>
    {% block head %}{% endblock %}
</head>

<body background="/static/images/background.png">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="mynavbar">
        <div class="navbar-header">
            <a class="navbar-brand" style="font-size: 25px;" href="/">DC直播教学网</a>
        </div>&nbsp;&nbsp;&nbsp;&nbsp;
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" href="#" style="font-size: 16px;">首页</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 16px;">直播</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" style="font-size: 16px;">课程分类</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/discuss/" style="font-size: 16px;">讨论区</a>
            </li>
        </ul>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="input-group col-md-3">
            <input type="text" id="input_q" class="form-control" placeholder="请输入搜索内容！"
                aria-label="Recipient's username" aria-describedby="basic-addon2" style="border-radius: 15px;">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" id="btn-search">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <i class="fa fa-bell-o" style="color:white; font-size: x-large; display: block;margin: auto;"></i>
            <span style="color:white;font-size: 1px;">消息</span>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <i class="fa fa-cloud-download" style="color:white; font-size: x-large; display: block;margin: auto;"></i>
            <span style="color:white;font-size: 1px;">下载</span>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <i class="fa fa-shopping-cart" style="color:white; font-size: x-large; display: block;margin: auto;"></i>
            <span style="color:white;font-size: 1px;">购买</span>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div>
            <i class="fa fa-history" style="color:white; font-size: x-large; display: block;margin: auto;"></i>
            <span style="color:white;font-size: 1px;">历史</span>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <form class="form-inline collapse navbar-collapse justify-content-right">
            {% if session.get("name") %}
            <img class="mr-3 rounded-circle"
                src="{% if session.get('face', '') %}/static/uploads/{{ session.get('face', '') }}{% else %}{{ url_for('static', filename='images/male.png') }}{% endif %}"
                style="width: 60px;height: 60px;">
            <a href="/userprofile/" class="text-warning">{{ session.get("name") }}</a>
            &nbsp;
            <a href="/logout/" class="text-danger">退出</a>
            {% else %}
            <a href="/login/" class="btn btn-success my-2 my-sm-0">登录</a>
            &nbsp;
            <a href="/regist/" class="btn btn-danger my-2 my-sm-0">注册</a>
            {% endif %}
        </form>
    </nav>
    <div class="container" id="main">
        <div class="row">
            {% block content %}{% endblock %}
            <div class="col-md-2">
                <div class="input-group mb-3">
                    <input type="text" id="input_q" class="form-control" placeholder="请输入搜索内容！"
                        aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="btn-search">搜索</button>
                    </div>
                </div>
                <div class="card rtc" style="display: none;">
                    <div class="jswebrtc" data-url="webrtc://localhost/live/livestream" ></div>
                </div>
                <div class="card">
                    <div class="card-header">
                        快捷导航
                    </div>
                    <div class="card-body">
                        <div class="btn-group-vertical">
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/build/'">直播创建</button>
                            <br>
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/myStream/'">我的直播信息</button>
                            <br>
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/course/'">直播列表</button>
                            <br>
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/courses/'">课程列表</button>
                            <br>
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/help/'">帮助</button>
                            <br>
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/complaint/'">投诉</button>
                            <br>
                            <button type="button" class="btn btn-info"
                                onclick="window.location.href='/service/'">客服</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="jumbotron foot-section" id="foot">
        <div class="container">
            <div class="row">
                <!-- 部分：一 -->
                <div class="col-md-2">
                    <p>友情链接</p>
                    <ul>
                        <li>腾讯会议</li><br>
                        <li>钉钉课堂</li><br>
                        <li>腾讯课堂</li><br>
                        <li>网易云课堂</li><br>
                        <li>慕课网</li><br>
                        <li>阿里云栖社区</li><br>
                    </ul>
                </div>
                <!-- 部分：二 -->
                <div class="col-md-3">
                    <p>新手帮助</p>
                    <ul>
                        <li>学生使用手册</li><br>
                        <li>教师使用手册</li><br>
                        <li>开播教程引导</li><br>
                        <li>DC直播学院</li><br>
                        <li>DC安全门户</li><br>
                        <li>DC监察反舞弊举报</li>
                    </ul>
                </div>
                <!-- 部分：三 -->
                <div class="col-md-5">
                    <p>DC产品下载</p>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="/static/images/qrcode.png">
                            <br>
                            <p style="position:relative;">扫描下载DC直播</p>
                        </div>
                        <div class="col-md-6">
                            <i class="fa fa-apple fa-2x" aria-hidden="true"></i>
                            <span>iPhone版</span><br><br>
                            <i class="fa fa-android fa-2x" aria-hidden="true"></i>
                            <span>Android版</span><br><br>
                            <i class="fa fa-windows fa-2x" aria-hidden="true"></i>
                            <span>Windows版</span><br><br>
                            <i class="fa fa-tablet fa-2x" aria-hidden="true"></i>
                            <span>Pad版</span><br><br>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <b>
                        <p>关注我们</p>
                    </b>
                    <i class="fa fa-weibo fa-2x" aria-hidden="true"></i>
                    <span>DC官方微博</span><br><br>
                    <i class="fa fa-weixin fa-2x" aria-hidden="true"></i>
                    <span>微信公众号</span><br><br>
                    <i class="fa fa-github fa-2x" aria-hidden="true"></i>
                    <span>Github地址</span><br><br>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="container">
            <ul class="list-inline text-center">
                <li class="info-text"><a href="http://www.miibeian.gov.cn/" target="_blank">苏ICP备17011280号</a>
                </li>
                <li class="info-text">© 2023-2033 Decade</li>
            </ul>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/lazysizes/4.0.2/lazysizes.min.js"></script>
    <script src="https://cdn.bootcss.com/holder/2.9.4/holder.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block foot %}{% endblock %}
    <script>
        $(document).ready(function () {
            $("#btn-search").click(function () {
                var q = $("#input_q").val();
                location.href = "/?q=" + q
            });
        });
    </script>
</body>

</html>