{%import 'page.html' as pg%}
{% extends "layout.html" %}
{% block content %}
<div class="col-md-10 pad-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">课程列表</li>
        </ol>
    </nav>
    {% set v = data['course'] %}
    <div class="card-columns">
        {% for val in v %}
        <div class="card" 
            courseId="{{ val.id }}">
            <img class="card-img-top mx-auto d-block video-img blur-up img-bk lazyloaded video-list iiid"
            courseId="{{ val.id }}"
            src="/static/uploads/{{ val.face }}">
            <div class="card-body d-flex flex-column">
                <div class="row">
                    <div class="col-sm-8 video-list iiid"
                    courseId="{{ val.id }}">
                        <span style="font-size:larger;">{{ val.title }}</span>
                    </div>
                    {% if val.own == session.get('name', '') %}
                    <div class="col-sm-4">
                        <button class="btn btn-info float-right upd" courseId="{{ val.id }}"
                        onclick="location.href='/course/update/?id={{ val.id }}'"
                        >修改</button>
                    </div>
                    {% else %}
                    <div class="col-sm-4" >
                        <button class="btn btn-default float-right">.</button>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {{pg.my_paginate(pagination,'course.courses')}}
    <style>
        .video-img {
            width: 294px;
            height: 150px;
        }
    </style>
</div>
{% endblock %}

{% block foot %}
<script>
    $(document).ready(function () {
        $(".iiid").click(function () {
            var uid = $(this).attr('courseId');
            location.href = "/kc/?id=" + uid;
        });
    });
</script>
{% endblock %}