{% extends "layout.html" %}
{%import 'page.html' as pg%}
{% block content %}
<div class="col-md-10 pad-right">
    <div class="card">
        <div class="card-header">
            我的直播信息
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="/build/" id="btn-sub">创建直播</a>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                直播标题
                            </div>
                            <div class="col-md-4">
                                开播时间
                            </div>
                        </div>
                    </div>
                </li>
                {% set v = data['stream'] %}
                {% for val in v %}
                <li class="list-group-item">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4">
                                {{ val.title }}
                            </div>
                            <div class="col-md-4">
                                2022-3-12 13:00:10
                            </div>
                            <div class="col-md-4">
                                <a class="btn btn-info stream"
                                >修改</a>
                                <a class="btn btn-success stream"
                                    urlId="{{ val.url }}"
                                    streamId="{{ val.id }}">
                                进入</a>
                            </div>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <br>
            <div class="form-group">
                {{pg.my_paginate(pagination,'myStream.myStream')}}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
<script src="{{ url_for('static', filename='js/request.js') }}"></script>
<script>
    $(document).ready(function () {
        $(".stream").click(function(){
            var locurl = $(this).attr('urlId');
            var locstream = $(this).attr('streamId');
            $.ajax({
                url: "/stream/",
                data: {url : locurl},
                dataType: "json",
                type: "POST",
                success: function (res) {
                    console.log("/stream/?"+"app="+res['app']+
                                           "&"+"name="+res['name']+
                                           "&"+"id="+locstream);
                    location.href = "/stream/?"+"app="+res['app']+"&"+"name="+res['name']+"&id="+locstream;
                },
                error: function (res) {
                    console.log(res);
                }
            });
        });
    });
</script>
{% endblock %}