<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--指定网页支持响应式：电脑和手机自适应-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ data['title'] }}</title>
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='bw/dist/sketchy/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <script id="bfwone" type="text/javascript" src="http://repo.bfw.wiki/bfwrepo/js/bfwone.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script type="text/javascript">
        bready(function () {
            use(["canvas-designer-widget"], function () {
                var transports = ["websocket"];
                var websocket = new SockJS("http://127.0.0.1:8000/board", transports);
                var designer = new CanvasDesigner();
                var olddata = null;
                designer.widgetHtmlURL = 'https://www.webrtc-experiment.com/Canvas-Designer/widget.html'; // you can place this file anywhere
                designer.widgetJsURL = 'https://www.webrtc-experiment.com/Canvas-Designer/widget.js'; 
                websocket.onopen = function () {
                    if (designer.pointsLength > 0) {
                        designer.sync();
                    }
                };
                websocket.onmessage = function (event) {
                    if (olddata != event.data) {
                        console.log("not same");
                        designer.syncData(JSON.parse(event.data));
                        olddata = event.data;
                    }
                };
                designer.addSyncListener(function (data) {
                    var comedata = JSON.stringify(data);
                    if (olddata != comedata) {
                        olddata = comedata;
                        console.log("not the same");
                        websocket.send(comedata);
                    }
                });
                designer.setSelected('pencil');
                designer.setTools({
                    pencil: true,
                    text: true,
                    image: true,
                    pdf: true,
                    eraser: true,
                    line: true,
                    arrow: true,
                    dragSingle: true,
                    dragMultiple: true,
                    arc: true,
                    rectangle: true,
                    quadratic: true,
                    bezier: true,
                    marker: true,
                    zoom: true,
                    lineWidth: true,
                    colorsPicker: true,
                    extraOptions: true,
                    code: true,
                    undo: true
                });
                designer.appendTo(document.getElementById("board"));
                setInterval(function () {
                    console.log("update");
                    designer.sync();
                },1000);
            });
        });
    </script>
</head>

<body>
    <div id="board" style="width:97vw;height:97vh;color: white;"></div>
</body>

</html>