{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static',filename='dplayer/DPlayer.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='ue/third-party/SyntaxHighlighter/shCoreDefault.css') }}">
<script src="{{ url_for('static',filename='ue/third-party/SyntaxHighlighter/shCore.js') }}"></script>
<script src="{{ url_for('static',filename='dplayer/DPlayer.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static',filename='ue/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static',filename='ue/ueditor.all.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ url_for('static',filename='ue/lang/zh-cn/zh-cn.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdn.webrtc-experiment.com/MediaStreamRecorder.js"> </script>
{% endblock %}

{% block content %}
<div class="col-md-10 pad-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page" id="zhibo">
                <button>直播页面</button>
            </li>
            <li class="breadcrumb-item active" aria-current="page" id="pmfx">
                <button>屏幕分享</button>
            </li>
            <li class="breadcrumb-item active" aria-current="page" id="whiteboard">
                <button>白板</button>
            </li>
            <li class="breadcrumb-item active" aria-current="page" id="check">
                <button>签到</button>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
            <li id="record" style="display: inline-block;">
                <button>开麦</button>
            </li>
            <li id="stop" style="display: inline-block;">
                <button>关麦</button>
            </li>
            </li>
            <li style="display: none;">
                <audio id="my-audio" src="" controls autoplay></audio>
            </li>
            <video id="hidden-video" style="display: none;"></video>
            <iframe id="iframe" src="http://localhost:8080/players/rtc_publisher.html" allow='microphone;camera;' style="display: none;"></iframe>
        </ol>
    </nav>
    <div id="dplayer">
        <video id="videoElement" style="width:100%; height:100%; object-fit: fill"></video>
    </div>
    <div class="row" style="margin-top: 12px;">
        <div class="col-md-12">
            <div class="card" id="chat-card">
                <div class="card-header">聊天消息</div>
                <div class="card-body" id="chat-list">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form id="form-data">
                        <div class="media">
                            <input type="hidden" name="streamid" id="input_id" value="{{ data['streamid'] }}">
                            {% if session.get('name', '') %}
                            <img class="mr-3"
                                src="{% if session.get('face', '') %}/static/uploads/{{ session.get('face', '') }}{% else %}{{ url_for('static', filename='images/male.png') }}{% endif %}"
                                style="width: 60px;height: 60px;">
                            {% else %}
                            <img class="mr-3" src="{{ url_for('static', filename='images/male.png') }}"
                                style="width: 60px;height: 60px;">
                            {% endif %}
                            <div class="media-body">
                                <h6>{% if session.get('name', '') %}{{ session.get('name', '') }}{% else %}游客 <a
                                        href="/login/">[登录]</a> <a href="/regist/">[注册]</a>{% endif %}</h6>
                                <textarea name="content" id="editor" style="width: 100%;"></textarea>
                                <input type="hidden" name="name" id="input_name"
                                    value="{% if session.get('name', '') %}{{ session.get('name', '') }}{% else %}游客{% endif %}">
                                {% if session.get('name', '') %}
                                <input type="hidden" name="face" id="input_face"
                                    value="{% if session.get('face', '') %}/static/uploads/{{ session.get('face', '') }}{% else %}{{ url_for('static', filename='images/male.png') }}{% endif %}">
                                {% else %}
                                <input type="hidden" name="face" id="input_face"
                                    value="{{ url_for('static', filename='images/male.png') }}">
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <a style="margin-top: 12px;" id="send_msg" class="btn btn-success float-right"
                        href="javascript:void(0)">发送消息</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
<script>
    var ue = UE.getEditor('editor', {
        toolbars: [
            ['fullscreen', 'emotion', 'insertcode', 'preview']
        ]
    });
    var player = null;
    var play = function (uurl) {
        var videoElement = document.getElementById('videoElement');
        if (player != null) {
            player.pause();
            player.unload();
            player.detachMediaElement();
            player.destroy();
            player = null;
        }
        player = flvjs.createPlayer({
            type: 'flv',
            url: uurl
        });
        player.attachMediaElement(videoElement);
        player.load();
        player.play();
    }
    $("#zhibo").click(function () {
        play("http://127.0.0.1:80/live?port=1935&app=myapp&stream=" + "{{ data['name'] }}");
    });
    $("#pmfx").click(function () {
        play("http://127.0.0.1:80/live?port=1935&app=myapp&stream=" + "{{ data['name'] }}");
    });
    $("#whiteboard").click(function () {
        // 在新浏览器窗口中打开白板页面
        window.open("/screenShare/", "_blank");
    });
    $("#check").click(function () {
        var input = prompt("请输入签到码：");
        if (input === null) return;
        $.ajax({
            url: "/conn/",
            type: "POST",
            data: {
                streamid: $("#input_id").val(),
                name: $("#input_name").val(),
                pwd: input  // 将用户输入的内容添加到 data 参数中
            },
            dataType: "json",
            success: function (res) {
                alert(res['code']);
            }
        });
    });
    var transports = ["websocket"];
    conn = new SockJS('http://127.0.0.1:8000/audio', transports);
    conn.onopen = function () {
        console.log("音频服务器连接！");
    };
    conn.onmessage = function (event) {
        console.log(event.data);
        openWindow();
    };
    function openWindow() {
        const url = 'http://localhost:8000/renmark/';
        const windowName = '_blank';
        const screenWidth = screen.width;
        const screenHeight = screen.height;
        const width = Math.floor(screenWidth / 5);
        const height = Math.floor(screenHeight / 5);
        const left = screenWidth - width;
        const top = 0;
        const features = `width=${width},height=${height},left=${left},top=${top},location=no`;
        window.open(url, windowName, features);
        // const scrollX = 0;
        // const scrollY = Math.floor((newWindow.document.body.scrollHeight - height) / 2);
        // newWindow.scrollTo(scrollX, scrollY);
    }   
    document.querySelector('#record').onclick = startPublish;
    function startPublish() {
        const code = "document.getElementById('btn_publish').click();";
        document.getElementById('iframe').contentWindow.postMessage(code,'*');
        conn.send("webrtc://localhost/live/livestream");
    }
</script>
<!-- <script>
    var transports = ["websocket"];
    conn = new SockJS('http://127.0.0.1:8000/audio', transports);
    conn.onopen = function () {
        console.log("音频服务器连接！");
    };
    conn.onmessage = function (event) {
        console.log(event);
    };
    function openPlayerWindow(url) {
        var playerWindow = window.open('', 'playerWindow', 'width=800,height=600');
        playerWindow.document.body.innerHTML = '<video src="' + url + '" controls autoplay></video>';
    }
    document.querySelector('#record').onclick = recordSound;
    document.querySelector('#stop').onclick = stopRecord;
    var mediaRecorder = null;
    var mediaConstraints = {
        audio: true,
        video: true
    };
    function recordSound() {
        $.ajax({
            url: "/mute/",
            type: "POST",
            data: {
                streamid: $("#input_id").val()
            },
            dataType: "json",
            success: function (res) {
                if (res['code'] == 1){
                    alert("教师开启了全员静音！")
                }else{
                    alert("开麦成功")
                    navigator.mediaDevices
                        .getUserMedia(mediaConstraints)
                        .then(onMediaSuccess)
                        .catch(onMediaError);
                }
            }
        });
    }
    function stopRecord() {
        if (mediaRecorder != null) mediaRecorder.stop();
        alert("关麦成功")
    }
    function onMediaSuccess(stream) {
        mediaRecorder = new MediaStreamRecorder(stream);
        mediaRecorder.mimeType = 'video/webm;codecs=vp9,opus';
        mediaRecorder.ondataavailable = function (blob) {
            var blobURL = URL.createObjectURL(blob);
            conn.send(blobURL);
        };
        mediaRecorder.start(1000);
    }
    function onMediaError(e) {
        console.error('media error', e);
    }
</script> -->
<script src="{{ url_for('static',filename='js/chat.js') }}"></script>
{% endblock %}