<!-- 嵌套 rtc_publisher.html 网页的 iframe -->
<iframe id="player-iframe" src="http://localhost:8080/players/rtc_publisher.html" ></iframe>

<!-- 用于触发推流按钮点击事件的按钮 -->
<button onclick="startPublish()">开始推流</button>

<script>
function startPublish() {
    const playerIframe = document.getElementById('player-iframe');
    // const btnPublish = playerIframe.contentWindow.document.getElementById('btn_publish');
    // btnPublish.click();
    document.getElementById('iframe').contentWindow.postMessage("aaaaaa",'*')
}
</script>
