{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ static_url('dplayer/DPlayer.min.css') }}">
<link rel="stylesheet" href="{{ static_url('ue/third-party/SyntaxHighlighter/shCoreDefault.css') }}">
<script src="{{ static_url('ue/third-party/SyntaxHighlighter/shCore.js') }}"></script>
<script src="{{ static_url('dplayer/DPlayer.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url('ue/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url('ue/ueditor.all.min.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ static_url('ue/lang/zh-cn/zh-cn.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdn.bootcss.com/flv.js/1.4.0/flv.min.js"></script>
{% end %}

{% block content %}
<div class="col-md-9 pad-right">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                直播页面
            </li>
        </ol>
    </nav>
    <div id="dplayer">
        <video id="videoElement"></video>
    </div>
    <div class="row" style="margin-top: 12px;">
        <div class="col-md-12">
            <div class="card" id="chat-card">
                <div class="card-header">聊天消息</div>
                <div class="card-body" id="chat-list">

                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form id="form-data">
                        <div class="media">
                            {% if handler.user %}
                            <img class="mr-3"
                                 src="{% if handler.user.face %}/static/uploads/{{ handler.user.face }}{% else %}{{ static_url('images/male.png') }}{% end %}"
                                 style="width: 60px;height: 60px;">
                            {% else %}
                            <img class="mr-3" src="{{ static_url('images/male.png') }}"
                                 style="width: 60px;height: 60px;">
                            {% end %}
                            <div class="media-body">
                                <h6>{% if handler.name %}{{ handler.name }}{% else %}游客 <a href="/login/">[登录]</a> <a
                                        href="/regist/">[注册]</a>{% end %}</h6>
                                <textarea name="content" id="editor" style="width: 100%;"></textarea>
                                <input type="hidden" name="name" id="input_name"
                                       value="{% if handler.name %}{{ handler.name }}{% else %}游客{% end %}">
                                {% if handler.user %}
                                <input type="hidden" name="face" id="input_face"
                                       value="{% if handler.user.face %}/static/uploads/{{ handler.user.face }}{% else %}{{ static_url('images/male.png') }}{% end %}">
                                {% else %}
                                <input type="hidden" name="face" id="input_face"
                                       value="{{ static_url('images/male.png') }}">
                                {% end %}
                            </div>
                        </div>
                    </form>
                    <a style="margin-top: 12px;" id="send_msg" class="btn btn-success float-right"
                       href="javascript:void(0)">发送消息</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block foot %}
<script>
    var ue = UE.getEditor('editor', {
        toolbars: [
            ['fullscreen', 'emotion', 'insertcode', 'preview']
        ]
    });

    if (flvjs.isSupported()) {
        var videoElement = document.getElementById('videoElement');
        var flvPlayer = flvjs.createPlayer({
            type: 'flv',
            url: 'http://localhost:8001/live/STREAM_NAME.flv'
        });
        flvPlayer.attachMediaElement(videoElement);
        flvPlayer.load();
        flvPlayer.play();
    }
</script>
<script src="{{ static_url('js/chat.js') }}"></script>
{% end %}