{% extends "layout.html" %}

{% block content %}
<div class="col-md-10 pad-right">
    <div class="card">
        <div class="card-header">
            课程修改
        </div>
        <div class="card-body">
            <form id="form-data">
                <div class="form-group" style="display: none;">
                    <input name="courseid" value="{{ data['course'].id }}">
                </div>
                <div class="form-group">
                    <label>课程标题</label>
                    <input class="form-control"
                           name="title"
                           placeholder="{{ data['course'].title }}"
                           type="text"
                           value="{{ data['course'].title }}">
                    <p class="text-danger" id="error_title"></p>
                </div>
                <div class="form-group">
                    <label>课程介绍</label>
                    <textarea class="form-control"
                              placeholder="{{ data['con'] }}"
                              rows="5"
                              name="content">{{ data['con'] }}</textarea>
                    <p class="text-danger" id="error_content"></p>
                </div>
                <div class="form-group">
                    <label for="input_face">封面</label>
                    <input type="file" class="form-control-file" id="file_face">
                    <input type="hidden" name="face" id="input_face" value="{{ data['course'].face }}">
                    <hr class="hr-dv">
                    <div id="image_face">
                        <img src="/static/uploads/{{ data['course'].face }}" style="width: 200px;height: 200px">
                    </div>
                    <hr class="hr-dv">
                    <a class="btn btn-info" id="upload_face" href="javascript:void(0)">上传头像</a>
                    <p class="text-danger" id="error_face"></p>
                </div>
                <div class="form-group">
                    <a class="btn btn-primary" href="javascript:void(0)" id="btn-sub">完成</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block foot %}
<script src="{{ url_for('static', filename='js/upload.js') }}"></script>
<script>
    $(document).ready(function () {
        upload('face', 200, 200, '/upload/');
        $("#btn-sub").click(function () {
            var data = $("#form-data").serialize();
            $.ajax({
                url: '/course/update/',
                type: 'POST',
                data: data,
                dataType: 'json',
                success: function (data) {
                    if (data.code == 0) {
                        alert('修改成功!');
                        location.href = '/myCourse/';
                    } else {
                        alert('修改失败!');
                    }
                }
            });
        }
    });
</script>
{% endblock %}